<%
    // IRC WATCHER
    // Index page

    var i, username

    // Order by name
    var usernames = Object.keys(lastSeen)
    usernames.sort()

    // Who's our best friends?
    var bfusernames = []
    i = usernames.length
    while(i--){
        username = usernames[i]
        if(bestFriends.indexOf(username) >= 0){
            bfusernames.unshift(username)
            usernames.splice(i, 1)
        }
    }
    var firstNonBf = usernames[0]
    usernames = bfusernames.concat(usernames)
%>
<ul id="lastseen"><%
    for(i = 0; i < usernames.length; i++){
        username = usernames[i]
        var date = lastSeen[username],
            m = moment(date).tz(timezone),
            ms = moment(new Date()).diff(m),
            timeInfo = h.formatTime(ms),
            className = "",//h.timeClassName(timeInfo),
            ts = m.format("H:mm:ss"),
            sts = m.format("H:mm"),
            ym = moment().tz(timezone).subtract(1, "days").startOf("day")


        // Create subheader
        if(username == firstNonBf){
            %>
    <li class="subhead"><h2>Others</h2></li><%
        }

        if(timeInfo.day >= 3){
            // Skip people who haven't been here for a certain amount of days :(
            continue
        }

        if(timeInfo.day == 1 && ym < m){
            sts = "yesterday " + sts
        }
        // If the date is before yesterday midnight, it's earlier than yesterday.
        if(ym > m){
            sts = ""
        }

        if(bestFriends.indexOf(username) >= 0){
            className += " bestfriend"
        }

        className = className.trim()

        // Color
        var backgroundOpacity = h.timeOpacity(ms/1000), textColor = "#000",
                opacity = h.timeTextOpacity(ms/1000)

        if(backgroundOpacity >= 0.3){
            textColor = "#fff"
        }

%>
    <li id="<%=
        username
    %>"<%
        if(className){
    %> class="<%=
        className
    %>"<%
        }
    %> style="background-color:rgba(0,0,51,<%=
        Math.round(backgroundOpacity * 100) / 100
    %>)<%
        if(textColor != "#000"){
            // If it's not default, write it out...
            %>;color:<%= textColor %><%
        }
    %><%
        if(opacity < 1){
            %>;opacity:<%=
            Math.round(opacity * 100) / 100
            %><%
        }
    %>"><div class="l"><strong><a href="/user/<%=
            username.toLowerCase()
        %>"><%=
            h.ucfirst(username)
        %></a></strong> <time datetime="<%=
            m.format()
        %>" data-livestamp="<%=
            m.format("X")
        %>" title="<%=
            ts
        %>"><%=
            ts
        %></time> <span class="channel"><%
        %></span></div> <div class="ts"><%=
            sts
        %></div></li><%
    }
%>
</ul>
