<%
    // IRC WATCHER
    // Generic log page

    var lastTimeStamp = null, ymd = "YYYY-MM-DD", hms = "HH:mm:ss"

    if (typeof lineNum === "undefined") {
        lineNum = 0;
    }
%>
<h1><%= heading %></h1>
<% if (lineNum) { %>
<p>Total lines: <span id="linenum"><%= lineNum %></span></p>
<% } %>
<ul id="lines"><%
    for(var i = 0; i < lines.length; i++){

        var line = lines[i]

        // Validation
        if(
            typeof line != "object" ||
            !("time" in line) || !line.time ||
            !("from" in line) || !line.from ||
            !("message" in line) || !line.message
        ){
            continue
        }

        // Gather this line's type
        var m = moment(line.time), stamp = m.format(hms)

        // Perhaps show a splitter?
        var splitterText = "", splitterDiff = lastTimeStamp ? m.diff(lastTimeStamp) : 0

        if(!lastTimeStamp || lastTimeStamp.format(ymd) != m.format(ymd)){
            // Date-type splitter (has priority)
            splitterText = m.format("ddd MMM Do, YYYY")
        }

        if(!splitterText && lastTimeStamp && splitterDiff >= 3600000){
            // "X hours"-type splitter
            var timeInfo = h.formatTime(splitterDiff)
            if(timeInfo.day > 0){
                splitterText = timeInfo.day + " day" + (timeInfo.day == 1 ? "" : "s")
            } else {
                splitterText = timeInfo.hour + " hour" + (timeInfo.hour == 1 ? "" : "s")
            }
        }

        if(splitterText){
            var splitterPadding = h.logSplitterHeight(splitterDiff/1000)
    %>
    <li class="splitter<%
        if(!lastTimeStamp){ %> splitterstart<% }
        %>"<%
        if(lastTimeStamp){
            %> style="padding-top:<%=
            splitterPadding %>px;padding-bottom:<%=
            splitterPadding %>px;"<%
        }
        %>><strong><%= splitterText %></strong></li>
    <%
        }
%>
    <li class="msg<% if(line.isAction){ %> action<% } %>"><%

            if(line.to){
                %><span class="channel"><%= line.to %></span> <%
            }

            %><time datetime="<%= m.format() %>"><%=
                stamp
            %></time> <strong class="author"><%=
                (line.isAction ? "* " : "") +
                h.ucfirst(line.from)
            %></strong> <span><%=
                line.message
            %></span></li>
<%
    lastTimeStamp = m
} %></ul>
