<%
    // IRC WATCHER
    // Stats page

    var MAX_IN_LIST = 10
%>

<h1>Stats for #<%= channel %></h1>


<div class="statscalendar">
<%
    for(var date in dayValues){
        if(dayValues.hasOwnProperty(date)){
            var userCounts = dayValues[date]

            if(typeof userCounts != "object" || !userCounts){
                continue
            }

            // Order by value
            var usernames = Object.keys(userCounts)
            usernames.sort((function(userCounts){
               return function(a, b){
                   // Reverse sorting (b first)
                   var diff = userCounts[b] - userCounts[a]

                   if(!diff){
                       // Alphabetical sorting
                       return a < b ? -1 : (a > b ? 1 : 0)
                   }

                   return diff
               }
            })(userCounts))

            // Max value
            var maxValue = userCounts[usernames[0]]
%>
    <div class="scitem">
        <h2><%= moment(date).format("ddd, MMM Do") %></h2>
        <ul class="statsuserlist chart">
<%
            for(var j = 0; j < usernames.length; j++){
                if(j >= MAX_IN_LIST){
                    break
                }
                var username = usernames[j], val = userCounts[username]
                var maxPercentage = val / maxValue * 100
%>
            <li>
                <span class="t"><strong><%= h.ucfirst(username) %></strong></span>
                <span class="p"> <%= val %></span>
                <span class="b" style="width:<%= maxPercentage %>%"></span>
            </li>
<%
            }
%>
        </ul>
    </div>



<%
        }
    }
%>
</div>
